.button {
    -fx-background-color: linear-gradient(#23ff00, #0a4400);
    -fx-font-family: Consolas;
    -fx-text-fill: black;
}

.toggle-button {
    -fx-background-color: linear-gradient(#23ff00, #0a4400);
    -fx-font-family: Consolas;
    -fx-text-fill: black;
}

.toggle-button:selected {
    -fx-background-color: linear-gradient(#0a4400, #23ff00);
}