.text-field {
    -fx-background-color: rgb(0, 0, 0);
    -fx-font-family: Consolas;
    -fx-text-fill: rgb(35, 255, 0);
    -fx-border-color: rgb(35, 255, 0);
}

.text-field:focused {
    -fx-background-color: rgb(0, 0, 0);
    -fx-font-family: Consolas;
    -fx-text-fill: rgb(35, 255, 0);
    -fx-border-color: rgb(35, 255, 0);
}